.Header {
    position: fixed;;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.bar-mobile {
    display: none;
    position: relative;
    height: 50px;
    line-height: 50px;
}

.bar-mobile::before {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

nav {
    font-size: 1.4rem;
    color: var(--white);
    text-transform: uppercase;
}

nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}


ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    height: var(--header-height);
    line-height: 90px;
    z-index: 10;
}

a {
    padding: 10px;
    color: inherit;
    text-decoration: none;
}

.a_desktop:hover {
    background-color: rgba(255, 255, 255, 0.12);
    cursor: pointer;
}

.ul-center {
    margin-left: -30px;
}

.logo-li {
    margin: 0 40px;
}

.logo-a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    height: 50px;
    filter: invert(.5);
}

.logo-mobile_wrapper {
    display: none;
    height: var(--header-height__mobile);
    width: 100%;
    text-align: center;
}

.logo-mobile_wrapper a {
    padding: 0;
}

.logo-mobile_wrapper img {
    height: 35px;;
}

@media (max-width: 1000px) {

    nav::before {
        height: var(--header-height__mobile);
    }

    ul {
        display: none;
    }

    .logo-mobile_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-mobile_wrapper img {
        filter: invert(.4);
    }
}

@media (max-width: 576px) {
    .logo-mobile_wrapper {
    }

    .logo-mobile_wrapper img {
        height: 20px;;
    }
}